<%- include('header_category'); -%>

</section>
<section id="data">
      <div class="card-deck row ms-3 me-3">
       <% Items.forEach(item =>{ %>
            <div class="card col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
            <img class="card-img-top card-img-bottom mt-2" src='<%= item.img_src %>' alt="Card image cap">
            <div class="card-body text-secondary">
              <h3 class="card-title"><%= item.common_name %></h3>
              <p class="card-text ">
                <h5><span class="dict">Scientific name: </span><%= item.scientific_name %></h5>
                <h5><span class="dict">Location: </span><%= item.location %></h5>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 ms-5 me-5 mt-4 mb-4 border-secondary">
            <iframe src="https://www.google.com/maps/d/embed?mid=11Apm1XbQ07MZ6idFSzu32Vr4rQ1-i38&ehbc=2E312F" width="640" height="480"></iframe>
          </div>
       <% }) %>
          
      </div>
</section>


<%- include('footer'); -%>